<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body>

<p th:replace="~{fragments/menu :: menuFragment}"></p>

</br></br>
<div th:align="center">
    <img src="../static/images/HR-3.jpg" th:src="@{images/HR-3.jpg}"
         alt="Prawie najlepsza aplikacja do zarządzania zasobami ludzkimi ;-)"/>
</div>

<footer th:replace="~{fragments/footer :: footerFragment}">Footer</footer>

</body>
</html>